.headerNav {
    width: 100%;
    height: 70px;
    background-color: #161e29;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid #2e3c51;
}

.socialcolumn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialcolumn2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badgeNav {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .headerNav {
        display: flex;
        height: 120px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .socialcolumn1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .socialcolumn2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .badgeNav {
        margin-left: 10px;
    }
}