.title {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
}

.column {
    width: 100%;
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.imgPerfil {
    border-radius: 50%;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    margin: 20px;
}

h1 {
    font-size: 72px;
    color: #b2bed7;
    text-align: center;
}

h2 {
    color: #b2bed7;
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #FFFF00;
    padding: 7px;
}

@media(max-width: 768px) {
    .column {
        width: 90%;
        /*flex-basis: 90%;*/
    }
}