.title {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 20px;
}

.column {
    width: 100%;
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.fullstack {
    padding-left: 150px;
}

.imgPerfil {
    border-radius: 50%;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    margin: 20px;
}

a {
    color: #FFFF00;
    margin: 5px;
}

a:hover {
    transform: scale(1.1);
}

@media(max-width: 768px) {
    .title {
        margin-top: 50px;
    }

    .column {
        width: 90%;
    }
}